
<header class="main-header">
    <div class="header-box">
        <div class="header-wrapper">
            <div class="box-with-header-logo">
                <span class="header-logo-first">
                    My Shop
                </span>
            </div> 
        <div class="box-with-page-header-menu">
            <button class="nav-button">
               <a href="" class="link">Catalog</a>
            </button>
            <button class="nav-button">
                Orders
            </button>
            <button class="nav-button">
                Cart
            </button>
            <button class="green-cart-button">
                Admin
            </button>   
        </div>
    </div>
</header>